.input-div i {
    position: absolute;
}

.input-div{
    margin-top: 10px;
}

#input-div2{
   margin-top: 5px; margin-bottom: 20px;
}

.icon {
    padding: 20px 0px 0px 165px;
    color: black;
    width: 80px;
}
body{
    background-color: #007f7f;
}
h1{
   text-align: center;
    margin-top: 50px;
    color: #4e1818;
    font-family:'Apple SD Gothic Neo';
}

.container{
    width: 400px; height: 250px; margin-top: 50px;
}

#password-field{

}

#btn-cancel{
    margin-left: 5%;
}

#btn-submit{
    color: black;
}

.field-icon {
    margin-left: -25px;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
}