<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Update form</title>
</head>
<body style="background-color: darkcyan">
<h1 align="center" style="margin-top: 50px; color: saddlebrown; font-family:'Apple SD Gothic Neo' ">Update Form</h1>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<form action="#"
      th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <div class="container" style="width: 350px; height: 250px; margin-top: 50px">
        <div class="parent-div align-items-center justify-content-center">
            <label class="form-label">Username</label>
            <div class="input-group has-validation">
                <input type="text" th:field="*{name}"  class="form-control" id="name" aria-describedby="inputGroupPrepend" required placeholder="Username">
            </div>
        </div>

        <div class="child-div" style="margin-top: 30px">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" th:field="*{email}"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="name@example.com">
        </div>

        <div class="mb-3 form-check" style="margin-top: 20px">
            <input type="checkbox" class="form-check-input" id="box" checked="checked">
            <label class="form-check-label">isActive</label>
        </div>
        <button type="submit" value="Update User" class="btn btn-primary col-4" >Submit</button>
        <a class="btn btn-primary btn-warning col-4" style="margin-left: 5%" href="/index" role="button">Cancel</a>
    </div>
</form>

</body>
</html>


<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->
<!--<form action="#"-->
<!--      th:action="@{/update/{id}(id=${user.id})}"-->
<!--      th:object="${user}"-->
<!--      method="post">-->
<!--    <label for="name">Name</label>-->
<!--    <input type="text" th:field="*{name}" id="name" placeholder="Name">-->
<!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
<!--    <label for="email">Email</label>-->
<!--    <input type="text" th:field="*{email}" id="email" placeholder="Email">-->
<!--    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
<!--    <input type="submit" value="Update User">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->